header {
    background: #BBBBBB;
    padding: 20px 0;
}

.divCaixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {   
     position: absolute;
     top: 110px;
     right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;    
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; 
 }

nav li a:hover {
    color: #BBBBBB;
}
}

#banner {
    width: 100%;
    
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.tit-one {
    padding-left: 20px;
    color: brown;
}

.titulo {
    text-align: center;        
}

p{
    text-align: center;
    
}  

.destak {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {    
    padding: 20px;
}

ul {
   display: inline-block;
   vertical-align: top;
   width: 20%;
   padding-right: 3%;
}

.itens {
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.imgbeneficio {
    width: 50%;
}

footer {
    background: url(imagens/bg.jpg);
    text-align: center;
    padding: 40px 0 ;
}

.copy {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;

}

