header {
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
}


#banner {
    width: 100%;
    
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.tit-one {
    padding-left: 20px;
    color: brown;
}

.titulo {
    text-align: center;        
}

p{
    text-align: center;
    
}  

.destak {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {    
    padding: 20px;
}

ul {
   display: inline-block;
   vertical-align: top;
   width: 20%;
   padding-right: 3%;
}

.itens {
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.imgbeneficio {
    width: 50%;
}

footer {
    background: url(imagens/bg.jpg);
    text-align: center;
    padding: 40px 0 ;
}

.copy {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;

}

