body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background: #BBBBBB;  
    padding: 20px 0;  
}

.divCaixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;      
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
}

nav a:hover {
    color: #ff6600;
    text-decoration: overline underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
   /* border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid; */
    border: #000000 2px solid;
    border-radius: 10px;
}

.produtos li:hover {    
    border-color: #df8611;   
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produtos li:hover .preco-prod {
    font-size: 30px;
}

.produtos li:hover .prod-descr {
    font-size: 20px;
}

.produtos li:active {
    border-color: darkgreen;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.prod-descr {
    font-size: 18px;
}
.preco-prod {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0 0; /* margin-top: 10px; MESMA COISA */
}

footer {
    background: url(imagens/bg.jpg);
    text-align: center;
    padding: 40px 0;
}

.copy {
    color: #ffffff; 
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    
}

/* CSS do contato -------------------------------------------   */

form {
    margin: 40px auto;   /*  MODIFIQUEI */
    width: 940px;    
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

.input-padrao, .enviar {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;     
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer ;
}

.enviar:hover {
    background: #df8611;
    transform: scale(1.2);
}

.espaco {
    margin: 20px 0;    
}

table {         /*  MODIFIQUEI */
    margin: 30px 20%;  
}          


thead {    
    background: hsl(0, 1%, 61%);
    color: white;
    font-weight: bold;    
}

td, th {
    padding: 10px 10px; 
    border: solid black 1px;
}

/* CSS do index  -----------------------------------------------------*/

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.imgutensilio {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.div-map {
    width: 940px;
    margin: 0 auto;
}

.mapa{
    padding: 3em 0; 
    background: linear-gradient(#FEFEFE, #888888);    
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficio {
    padding: 3m 0;
    background: #888888;    
}

.div-beneficio {
    width: 640px ;
    margin: 0 auto; 
}

.lista-beneficio {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;    
}

.itens::before {
    content: "\2605  ";
    font-weight: bold;
    font-size: 20px;
}

.itens:first-child {
    font-weight: bold;
}

.imgbeneficio {
    width: 60%;    
}

.video {
    width: 560px;    
    padding: 1em;
    margin: 0 auto;
}